*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: pink;
}

.container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards{
    width: 250px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cards:hover{
    transform: translateY(-13px);
}

.top{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.top h1{
    color: white;
    font-size: 50px;
}

.content{
    padding: 25px;
}

.content p{
    color: gray;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.card1 .top{
    background-color: #ffb300;
}

.card1 .btn{
    background-color: #ffb300;
}

.card2 .top{
    background-color: #e91e63;
}

.card2 .btn{
    background-color: #e91e63;
}

.card3 .top{
    background-color: #c300ff;
}

.card3 .btn{
    background-color: #c300ff;
}